<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/confessions/index.css">
    <title>Confessions - <%= siteTitle %></title>
</head>

<body>
    <%- include('../partials/navbar') %>
    <main>
        <h1>Confessions</h1>
        <section class="confession__list shadow">
            <% for (let confession of confessions) { %>
            <a class="confession__item" href="/confessions/<%= confession._id %>">
                <p class="confession__id">#<%= confession._id %></p>
                <div class="wrapper">
                    <p class="confession__content">
                        <%= confession.content %> 
                    </p>
                    <span><%= confession.status %></span>
                </div>
            </a>
            <% } %>
        </section>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/partials/navbar.js"></script>
    <script src="/js/confessions/index.js"></script>
</body>

</html>