<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/confessions/show.css">
    <title><%= confession.apucpId %> - <%= siteTitle %></title>
</head>

<body>
    <%- include('../partials/navbar') %>
    <main>
        <a class="btn btn-back">
            <i class="fa-solid fa-right-from-bracket"></i> Back to Confessions
        </a>
        <div class="confession__item" href="/confessions/<%= confession._id %>">
            <h1><%= confession.apucpId %></h1>
            <h2 class="confession__time">Confession on: <%= confession.timestamp %></h2>
            <a href="/confessions/<%= confession._id %>/edit" class="confession__edit">
                <i class="fa-solid fa-pen-to-square"></i> Edit</a>
            <% if (confession.status === 'Blacklisted') { %>
            <p class="confession__blacklist-msg"><i class="fa-solid fa-triangle-exclamation"></i>
                Confession consists of blacklist words.
            </p>
            <% } %>
            <p class="confession__content"><%- confession.content %></p>
            <% if (confession.photo.length > 0) { %>
            <h3>Photo:</h3>
            <div class="media__container">
                <% for (let photo of confession.photo) { %>
                <div class="media__item">
                    <a href="<%= photo %>" target="_blank"><%= photo %></a>
                </div>
                <% } %>
            </div>
            <% } %>
            <% if (confession.video.length > 0) { %>
            <h3>Video:</h3>
            <div class="media__container">
                <% for (let video of confession.video) { %>
                <div class="media__item">
                    <a href="<%= video %>" target="_blank"><%= video %></a>
                </div>
                <% } %>
            </div>
            <% } %>
            <div class="confession__action" data-confession-id="<%= confession._id %>">
                <form action="/confessions/<%= confession._id %>/?_method=DELETE" class="confession__action-form"
                    method="POST">
                    <button class="btn btn-remove">Remove</button>
                </form>
                <button class="btn btn-primary btn-approve">Approve</button>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/partials/navbar.js"></script>
    <script>
        const confession = <%- JSON.stringify(confession) %>
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/confessions/show.js"></script>
</body>

</html>