<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/confessions/show.css">
    <title>#<%= confession._id %> - <%= siteTitle %></title>
</head>

<body>
    <%- include('../partials/navbar') %>
    <main>
        <a href="/confessions" class="btn btn-back">
            <i class="fa-solid fa-right-from-bracket"></i> Back to Confessions
        </a>
        <div class="confession__item" href="/confessions/<%= confession._id %>">
            <h1>#<%= confession._id %> </h1>
            <h2 class="confession__time">Confession on: <%= confession.timestamp %></h2>
            <a href="/confessions/<%= confession._id %>/edit" class="confession__edit">
                <i class="fa-solid fa-pen-to-square"></i> Edit</a>
            <p class="confession__content"><%= confession.content %></p>
            <% if (confession.media) { %>
            <a href="<%= confession.media %>" target="_blank">View media</a>
            <% } %>
            <div class="confession__action" data-confession-id="<%= confession._id %>">
                <% if (confession.status === 'Pending') { %>
                <form action="/confessions/<%= confession._id %>/?_method=DELETE" class="confession__remove-form"
                    method="POST">
                    <button class="btn btn-remove">Remove</button>
                </form>
                <button class="btn btn-primary">Approve</button>
                <% } else { %>
                <p><%= confession.status %></p>
                <% } %>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/partials/navbar.js"></script>
    <script src="/js/confessions/show.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>